<h1>Listing bursts</h1>

<table>
  <tr>
    <th>Datetime</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bursts.each do |burst| %>
  <tr>
    <td><%= burst.datetime %></td>
    <td><%= burst.event_id %></td>
    <td><%= link_to 'Show', burst %></td>
    <td><%= link_to 'Edit', edit_burst_path(burst) %></td>
    <td><%= link_to 'Destroy', burst, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Burst', new_burst_path %>
