<h1>Listing snaps</h1>

<table>
  <tr>
    <th>User</th>
    <th>Burst</th>
    <th>Image url</th>
    <th>Lat</th>
    <th>Long</th>
    <th>Datetime</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snaps.each do |snap| %>
  <tr>
    <td><%= snap.user_id %></td>
    <td><%= snap.burst_id %></td>
    <td><%= snap.image_url %></td>
    <td><%= snap.lat %></td>
    <td><%= snap.long %></td>
    <td><%= snap.datetime %></td>
    <td><%= snap.event_id %></td>
    <td><%= link_to 'Show', snap %></td>
    <td><%= link_to 'Edit', edit_snap_path(snap) %></td>
    <td><%= link_to 'Destroy', snap, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Snap', new_snap_path %>
