<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @event.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @event.long %>
</p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<p>
  <b>Radius:</b>
  <%= @event.radius %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
